@media  screen and (max-width:1000px){
 .col-3{
display: none;
}
.col-6{
    width: 100%;
}
.home .row{
    width: 100%;
}
.style-input{
    width: 100%!important;
}
.repon{
    width: 100%;
}
.py-5{
    padding: 0px !important;
}


}